@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
    text-decoration: none; /* Remove default underline */
    border-bottom: 3px solid black; /* Change the thickness here */
    border-color: red;
  }
  